In [9]:
# importing the module
import pandas as pd

# creating the DataFrame
data = {"Number" : [0, 1, 2, 3, 4,
					5, 6, 7, 8, 9],
		"Alphabet" : ['A', 'B', 'C', 'D', 'E',
					'F', 'G', 'H', 'I', 'J']}
df = pd.DataFrame(data)

# print("Initial max_rows value : " + str(pd.options.display.max_rows))

# # displaying the DataFrame
# display(df)

# # changing the max_rows value
pd.set_option("display.max_rows", 5)

print("max_rows value after the change : " + str(pd.options.display.max_rows))

# # displaying the DataFrame
display(df)

max_rows value after the change : 5

    Number Alphabet
0        0        A
1        1        B
..     ...      ...
8        8        I
9        9        J

[10 rows x 2 columns]

In [15]:
# importing the module
import pandas as pd

# creating the DataFrame
data = {"Number" : 1,
		"Name" : ["ABC"],
		"Subject" : ["Computer"],
		"Field" : ["BDA"],
		"Marks" : 70}
df = pd.DataFrame(data)

# print("Initial max_columns value : " +str(pd.options.display.max_columns))

# # displaying the DataFrame
# display(df)

# # changing the max_columns value
pd.set_option("display.max_columns", 3)

print("max_columns value after the change : " + str(pd.options.display.max_columns))

# # displaying the DataFrame
display(df)

max_columns value after the change : 3

   Number  ... Marks
0       1  ...    70

[1 rows x 5 columns]

In [11]:
df

   Number Name   Subject Field  Marks
0       1  ABC  Computer   BDA     70

In [ ]:
pd.options.display.max_columns

In [ ]:
# importing pandas as pd
import pandas as pd

# Creating the Series
sr = pd.Series(['2012-10-21 09:30', '2019-7-18 12:30', '2008-02-2 10:30',
				'2010-4-22 09:25', '2019-11-8 02:22'])

# Creating the index
idx = ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']

# set the index
sr.index = idx

# Convert the underlying data to datetime
sr = pd.to_datetime(sr)

# Print the series
print(sr)

In [ ]:
# return the month
result = sr.dt.month

# print the result
print(result)

In [1]:
l = ['Total_Stops', 'Journey_day', 'Journey_month', 'Dep_hour',
       'Dep_min', 'Arrival_hour', 'Arrival_min', 'Duration_hours',
       'Duration_mins', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi']

In [2]:
len(l)

29

In [3]:
l1 = ['Total_Stops', 'Price', 'Journey_day', 'Journey_month', 'Dep_hour',
       'Dep_min', 'Arrival_hour', 'Arrival_min', 'Duration_hours',
       'Duration_mins', 'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi']

In [4]:
len(l1)

30

In [6]:
for i in l1:
    if i not in l:
        print(i)

Price

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/data.csv', index_col=['Day'])

FileNotFoundError: [Errno 2] No such file or directory: 'data/data.csv'

In [ ]:
df

In [14]:
l = ['Total_Stops',
 'Journey_day',
 'Journey_month',
 'Dep_hour',
 'Dep_min',
 'Arrival_hour',
 'Arrival_min',
 'Duration_hours',
 'Duration_mins',
 'Air India',
 'GoAir',
 'IndiGo',
 'Jet Airways',
 'Jet Airways Business',
 'Multiple carriers',
 'Multiple carriers Premium economy',
 'SpiceJet',
 'Trujet',
 'Vistara',
 'Vistara Premium economy',
 'Chennai',
 'Delhi',
 'Kolkata',
 'Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad',
 'Kolkata',
 'New Delhi']

In [15]:
l1 = ['Total_Stops',
 'Journey_day',
 'Journey_month',
 'Dep_hour',
 'Dep_min',
 'Arrival_hour',
 'Arrival_min',
 'Duration_hours',
 'Duration_mins',
 'Air India',
 'GoAir',
 'IndiGo',
 'Jet Airways',
 'Jet Airways Business',
 'Multiple carriers',
 'Multiple carriers Premium economy',
 'SpiceJet',
 'Trujet',
 'Vistara',
 'Vistara Premium economy',
 'Chennai',
 'Delhi',
 'Delhi',
 'Kolkata',
 'Kolkata',
 'Mumbai',
 'Cochin',
 'Delhi',
 'Delhi',
 'Hyderabad',
 'Kolkata',
 'Kolkata',
 'New Delhi',
     ]

In [16]:
for i in l1:
    if i not in l:
        print(i)

In [18]:
l = 1.95434120e-01 1.44021586e-01 5.38555703e-02 2.40539410e-02
 2.17430940e-02 2.73470116e-02 1.96095029e-02 1.27500039e-01
 1.74337150e-02 1.06741541e-02 1.87128973e-03 1.65718507e-02
 1.51364596e-01 6.81637760e-02 1.89902192e-02 8.47326514e-04
 3.10615675e-03 1.08644888e-04 5.29446496e-03 9.35369428e-05
 6.27777871e-04 1.23137157e-02 3.24867396e-03 8.91085147e-03
 1.41174133e-02 1.95895945e-02 7.68279226e-03 4.01014841e-04
 2.50235698e-02

SyntaxError: invalid syntax (<ipython-input-18-b6332168a0eb>, line 1)